body {
  margin: 0 auto;
  width: 900px;
  background: #999;
  font-family: verdana;
  text-align: center;
}

h1 {
  margin-bottom: 0px;
  background: #333;
  padding: 50px;
  color: white;
}

img {
  width: 100%;
}

ul {
  margin: 20px;
}

ul li {
  list-style: none;
  display: inline-block;
}

ul li a {
  display: inline-block;
  padding: 20px;
  background: #666;
  color: white;
  text-decoration: none;
}

ul li a:hover {
  background: #CCC;
  color: #333;
}
